{% extends 'base.html' %}

{% block title %}
    caught form
{% endblock title %}

{% block content %}
    <section>
        <form method="post" autocomplete="off">
            <label for="chaser_id">Your ID</label>
            <input type="text" name="chaser_id" id="chaser_id" required>
            <label for="runner_id">Your runner's ID</label>
            <input type="text" name="runner_id" id="runner_id" required>
            <input type="submit" value="submit">
        </form>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
    </section>
{% endblock content %}