{% extends 'base.html' %}

{% block title %}
    cought form
{% endblock title %}

{% block content %}
    <section>
        <form action="" method="post">
            <fieldset>
                <legend>Your year level</legend>
                <ul>
                    <li>
                        <input type="radio" name="year_level" id="year9" value="9" checked>
                        <label for="year9">year9</label>
                    </li>
                    <li>
                        <input type="radio" name="year_level" id="year10" value="10">
                        <label for="year9">year10</label>
                    </li>
                    <li>
                        <input type="radio" name="year_level" id="year11" value="11">
                        <label for="year9">year11</label>
                    </li>
                    <li>
                        <input type="radio" name="year_level" id="year12" value="12">
                        <label for="year9">year12</label>
                    </li>
                </ul>
            </fieldset>
            <label for="chaser_id">Your ID</label>
            <input type="text" name="chaser_id" id="chaser_id" required>
            <label for="runner_id">Your runner's ID</label>
            <input type="text" name="runner_id" id="runner_id" required>
            <input type="submit" value="submit">
        </form>
    </section>
{% endblock content %}