{% extends 'base.html' %}

{% block title %}
    caught form
{% endblock title %}

{% block section %}
        <form action="" method="post">
            <label for="chaser_id">Your ID</label>
            <br>
            <input type="text" name="chaser_id" id="chaser_id" required>
            <br>
            <label for="runner_id">Your runner's ID</label>
            <br>
            <input type="text" name="runner_id" id="runner_id" required>
            <br>
            <input type="submit" value="submit" text="Submit!">
        </form>
        <p>Please be patient! Our system is processing your request and will send you, your runner and any other chasers they might have had in due time. </p>
{% endblock section %}