* {
    box-sizing: border-box;
}


body, html {
    height: 100%;
    margin: 0;
}

#backGround {
    /* The image used */
    /* background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url("../static/assets/background.jpg"); */
    background: rgb(230,10,10);
    background: linear-gradient(135deg, rgba(230,10,10,0.8) 13%, rgba(236,223,77,0.8) 43%, rgba(63,178,44,0.8) 73%, rgba(0,83,196,0.8) 93%);
    /* Full height */
    height: 100%; 
    width: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35vh;
    width: 25%;
    height: auto;
}

#subtitle {
    display: block;
    margin-left: 55vw;
    font-size: 2vw;
}

#navContainer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; /* always on top */
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden; /* disable horizontal scroll */
    transition: 0.5s;
}

/* position the content inside the container */
nav {
    height: 100%;
    width: 100%;
}

nav div {
    position: absolute;
    width: 50vw;
    height: 50vh;
    background-color: none;
    border-color: #888;
    border-width: 1px;
    border-style: solid;
}

nav a {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: fit-content;
    text-decoration: none;
    font-size: 2vw;
    color: #818181;
    display: block;
    transition: 0.3s;
}

nav a:hover, nav a:focus, #closeBtn:hover, #closeBtn:focus {
    color: #f1f1f1;
}

#closeBtn {
    text-decoration: none;
    color: #888;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 3vh;
    transition: 0.5s;
}