body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
/* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0.5em 1em;
        transition: 0.3s;
    }

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button:active {
background-color: #ccc;
}

  /* Style the tab content */
.tabcontent {
    display: none;
}

.filters {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.filters button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.2em, 0.3em;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

tr:nth-child(odd) {
    background-color: #fdfdfd;
}

th {
    padding: 0.5em 1em;
}

td {
    padding: 0.5em 1em;
    text-align: left;
}