{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <section>
        <h1>Welcome to NCChase!</h1>
    </section>

    <section>

        <h2>What is it?</h2>
        <p style="color: black;">
            NC Chase is a live-action chase game. Everyone trying to evade being caught, and trying to catch their own runner.
            Every morning, you will be emailed a "runner", who you are trying to catch. Your mission is to identify, track down, and catch your runner by placing a peg on them.
            In the same way that you're chasing someone, someone is also chasing you! To survive, you'll need to play both offensively and defensively.
            Your team is your house, who will never be chasing you. Work together with your house to be the best and win house points!            
        </p>  
    </section>
    <section>
        <h2>Some rules</h2>
            <ul>
                <li>No breaking school rules</li>
                <li>The game only runs before school, interval and lunch.</li>
                <li>Gameplay shouldn't interrupt clubs or other *smth smth important activities*</li>
                <li>Please play fair and keep information within your House.</li>
            </ul>
    </section>
    <section>
        <h2>Defending yourself:</h2>
        <ul>
            <li>No one should ever have to use force. Doors should not be busted down etc.</li>
            <li>Use common sense.</li>
            <li>You may run away to prevent your Chaser from catching you.</li>
        </ul>
    </section>

{% endblock content %}